.squad {
    text-align: center;
    padding: 32px;
    background-blend-mode: multiply;
    position: relative;
}

.squad h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.squad .members {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 24px
}

.squad .input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}